.gmrv_highlighting_record_create {
  background-color: #a5f1c0 !important;
}

.gmrv_highlighting_record_write {
  background-color: #a9e2ea !important;
}

.o_list_view {
  .o_data_row {
    transition: background-color 1000ms;
  }
}
