.map_field_widget {
    width: 100%;

    button {
        @extend .btn;
        @extend .btn-secondary;
    }
}

.map_field_widget_popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.65);

    .close_map_popover_btn {
        position: absolute;
        top: 5rem;
        right: 5rem;
        transform: translate(50%, -50%);
        color: #ffffff;
        font-size: 3rem;
        &:hover {
            cursor: pointer;
            color:  lighten(theme-color('primary'), 10);
        }
    }

    .map_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20rem);
        height: calc(100% - 20rem);
        border: solid 4px theme-color('primary');
        border-radius: 1rem;
    }
}
